<ng-template
  let-observer
  [tuiDialogOptions]="$any({label: 'Новый доход', size: 's'})"
  [tuiDialog]='open'
  (tuiDialogChange)='openChange.emit()'
>
  <form class='b-form' [formGroup]='form' (ngSubmit)='createRevenue()'>
    <tui-input formControlName='title' tuiAutoFocus>Название дохода</tui-input>
    <tui-input-number class='tui-space_top-2' [postfix]='"RUB" | tuiCurrency' formControlName='amount'>
      Сумма
    </tui-input-number>
    <button tuiButton class='tui-space_top-3' [disabled]='form.invalid'>Добавить доход</button>
  </form>
</ng-template>
